@import "tailwindcss";

:root {
  --background: #0a0d0a;
  --foreground: #ffffff;
  --accent: #e8e94f;
  --accent-lime: #b9cead;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-lime: var(--accent-lime);
  --font-sans: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
}
